project/SynchronizationServer/build
project/CloudServer/build
project/CloudServer/tests/build
project/SynchronizationServer/Sessions/ClientNetwork/build
project/SynchronizationServer/Sessions/SessionOnServer/build
project/SynchronizationServer/MessageQueues/build
project/SynchronizationServer/Server/build
project/SynchronizationServer/Synchronizator/build
project/SynchronizationServer/tests/build
 
project/Client/build
project/Client/Tests/build
project/Client/Chunker/build
project/Client/Indexer/build
project/Client/Application/build
project/Client/Watcher/build
project/Client/ProgramInterface

project/DataBase/build
project/DataBase/FileStorage/build
project/DataBase/MetaDataBase/build
project/DataBase/Tests/build
project/Network/build
project/Network/Tests/build
project/Network/CommunicateWithUser/build
project/Network/Syncho/build