SynchronizationServer/cmakebuild
CloudServer/cmakebuild
CloudServer/tests/cmakebuild
SynchronizationServer/Sessions/ClientNetwork/cmakebuild
SynchronizationServer/Sessions/SessionOnServer/cmakebuild
SynchronizationServer/MessageQueues/cmakebuild
SynchronizationServer/Server/cmakebuild
SynchronizationServer/Synchronizator/cmakebuild
SynchronizationServer/tests/cmakebuild
